In [42]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select

In [22]:
driver = webdriver.Safari()

In [40]:
driver.get('http://tax1.co.monmouth.nj.us/cgi-bin/prc6.cgi?&ms_user=glou&passwd=&district=1427&srch_type=0&adv=1&out_type=2')

In [44]:
perpage = Select(driver.find_element_by_name('ms_ln'))
perpage.select_by_value("1000")
block = driver.find_element_by_name('block')
lot = driver.find_element_by_name('lot')

In [45]:
block.send_keys("4100")
lot.send_keys("80")

In [46]:
login = driver.find_element_by_xpath("//input[@type ='Submit']")
login.click()

In [47]:
pagesource = driver.page_source

In [3]:
location = "/Users/bsimoff/Downloads"
filename = "Search Results.html"
address = location+"/"+filename

In [4]:
#for saved files
#file = open(address, "r").read()
#dfs = pd.read_html(file,header=0)
#datefind = file.find('as of') #find where the update date is
#updatedate = file[datefind+6:datefind+14]

In [49]:
dfs = pd.read_html(pagesource,header=0)

In [50]:
df = pd.DataFrame(data=dfs[0])

In [52]:
datefind = pagesource.find('as of') #find where the update date is
updatedate = pagesource[datefind+6:datefind+14]

In [53]:
previous = pd.read_excel("/Users/bsimoff/Documents/Python/Mt Olive/results.xlsx",index_col = 0)

In [54]:
saledate = []
newowner = []
for i in range(len(previous)):
    if previous['Location/Class'][i] == df['Location/Class'][i]:
        if previous['Sale Price/Date'][i] == df['Sale Price/Date'][i]:
            saledate.append(0)
            newowner.append(0)
        else:
            saledate.append(df['Sale Price/Date'][i])
            newowner.append(df['Owner/Street/C S Z'][i])
    else:
        skip

In [55]:
df[updatedate+' Owner'] = newowner

In [56]:
df[updatedate+' Sale Date'] = saledate

In [57]:
#df

,Unnamed: 0,Bl/Lot/Q,Location/Class,Owner/Street/C S Z,SF/Yr-Blt,Sale Price/Date,02/05/21 Owner,02/05/21 Sale Date
0,MoreInfo,4100 80,2 FORCE DR Class:1,MFC MOUNTAIN RIDGE ESTATES LLC 9 WESTERN DR CO...,0 sf 2000,$1 00/00/00,0,0
1,MoreInfo,4100 80 B01,73 ROUTE 46 Class:4A,MFC MOUNTAIN RIDGE ESTATES LLC 9 WESTERN DR CO...,0 sf,$1 11/18/16,0,0
2,MoreInfo,4100 80 C001,3 FORCE DR Class:2,"PEREZ, MEGAN O/MIGUEL A 3 FORCE DR BUDD LAKE, NJ",2412 sf 2018,$429985 08/22/18,0,0
3,MoreInfo,4100 80 C002,5 FORCE DR Class:2,"ALLURI, MAHENDER/RADHIKA R/SONALI R 5 FORCE DR...",2376 sf 2018,$399990 08/30/18,0,0
4,MoreInfo,4100 80 C003,7 FORCE DR Class:2,"THOMSIN, JEAN PAUL R/LAI, CHIA-FING PO BOX 802...",2624 sf 2018,$430990 07/31/18,0,0
...,...,...,...,...,...,...,...,...
212,MoreInfo,4100 80 C211,24 NIPER PL Class:2,"SHRESTHA, NIRMAL 24 NIPER PL BUDD LAKE, NJ",2635 sf 2019,$460725 06/28/19,0,0
213,MoreInfo,4100 80 C212,26 NIPER PL Class:2,"NICHOLAS,ANTHONY & THOMPSON,VANESSA 26 NIPER P...",2624 sf 2019,$449667 07/19/19,0,0
214,MoreInfo,4100 80 C213,28 NIPER PL Class:2,"AYIM, EGBERT S/HANSON, BRIDGIT M 28 NIPER PL B...",2624 sf 2019,$439990 07/12/19,0,0
215,MoreInfo,4100 80 C214,30 NIPER PL Class:2,"LEENMAN, NEELTJE 30 NIPER PL BUDD LAKE, NJ",2624 sf 2019,$438485 07/09/19,0,0
216,MoreInfo,4100 80 C215,32 NIPER PL Class:2,"ACKERSON, DAVID & YVONNE V. 32 NIPER PL BUDD L...",2632 sf 2019,$447305 07/16/19,0,0

In [58]:
#Update Excel
df.to_excel("/Users/bsimoff/Documents/Python/Mt Olive/results.xlsx")

In [14]:
#Initial Write:
#with pd.ExcelWriter("/Users/dkoros/Documents/Mt Olive/results.xlsx") as writer:
#df.to_excel("/Users/bsimoff/Documents/Python/Mt Olive/results.xlsx")